.row
  .col-md-12.text-center
    %h1 The Title
    .row
      - 1.upto(6) do |x|
        .col-md-4.col-sm-6.col-xs-12
          %h3= "Post Title #{x}"
          %p This is the post blah blah blah. Then the blah and the thing do a different thing to create the third thing.
