<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6"><strong>Text</strong></div>
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        {{view Ember.TextArea value=model.body rows=20 class="form-control"}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <input type='submit' value='Save' class='btn btn-success' {{action 'saveChanges'}}/>
  <input type='submit' value='Cancel' class='btn btn-danger' {{action 'cancel'}}/>
</div>
{{#if showUnsavedMessage}}
  <div class="row">
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle"></i> You have unsaved changes
    </div>
  </div>
{{/if}}
