.row
  .col-md-3
    =link_to "Click", "#", class: "btn btn-primary btn-lg"
  .col-md-3
    =link_to "Click", "#", class: "btn btn-success"
  .col-md-3
    =link_to "Click", "#", class: "btn btn-warning btn-sm"
  .col-md-3
    =link_to "Click", "#", class: "btn btn-info btn-xs"
.row
  .col-md-3
    =link_to "Click", "#", class: "btn btn-primary btn-block"
  .col-md-3
    =link_to "Click", "#", class: "btn btn-success btn-block"
  .col-md-3
    =link_to "Click", "#", class: "btn btn-warning btn-block"
  .col-md-3
    =link_to "Click", "#", class: "btn btn-info btn-block"
.row
  .col-md-3
    =link_to "Click", "#", class: "btn btn-primary btn-block disabled"
  .col-md-3
    =link_to "Click", "#", class: "btn btn-success btn-block active"
  .col-md-3
    =link_to "Click", "#", class: "btn btn-warning btn-block"
  .col-md-3
    =link_to "Click", "#", class: "btn btn-info btn-block"
