.well.well-sm
  %p Hello this is some useless information that is only here to fill up space. If you have any more questions feel free to contact fake@fake.com
.well
  %p Hello this is some useless information that is only here to fill up space. If you have any more questions feel free to contact fake@fake.com
.well.well-lg
  %p Hello this is some useless information that is only here to fill up space. If you have any more questions feel free to contact fake@fake.com
