%form.form
  .form-group
    %label{for: "nameField"} Name
    %input.form-control{type: "text", id: "nameField", placeholder: "Your Name"}
  .form-group
    %label Email
    %input.form-control{type: "email", id: "emailField", placeholder: "example@gmail.com"}
  %button.btn.btn-primary{type: "submit"} Submit
  %button.btn.btn-default{type: "reset"} Reset
