%form.form-horizontal
  .form-group
    %label.col-xs-2 Name
    .col-xs-10
      %input.form-control{type: "text", placeholder: "James Carson"}
  .form-group
    %label.col-xs-2 Email
    .col-xs-10
      %input.form-control{type: "email", placeholder: "example@host.com"}
  .col-xs-10.col-xs-offset-2
    %button.btn.btn-primary{type: "submit"} Submit
    %button.btn.btn-default{type: "reset"} Reset
