.well.well-sm
  %form.form-inline
    .form-group
      %label Name
      %input.form-control{type: "text", placeholder: "James Carson"}
    .form-group
      %label Email
      %input.form-control{type: "email", placeholder: "example@hostname.com"}
    .checkbox
      %label
        %input{type: "checkbox"} Enable
    %button.btn.btn-primary{type: "submit"} Submit
