= image_tag 'jim.jpg'
%div#foobar
%ul#list
%p This is text
%p This is more text
:javascript
  var i = 0;
  function set_date () {
    setTimeout( function () {
      $('#foobar').prop('innerHTML', new Date);
      set_date();
    },1000);
  }
  function update_list () {
    setTimeout( function () {
      var stuff = $('<li>thing</li>');
      if ( i%2 == 0 ) {
        stuff.css('color','blue');
      } else {
        stuff.css('color','green');
      }
      $('#list').append(stuff);
      i++;
      update_list();
    },1000);
  }
  $(document).ready( function () {
    // Selector
    $('img').mouseover(function () {
      $(this).css('opacity','0.3');
    });
    $('img').mouseout(function () {
      $(this).css('opacity','1.0');
    });
  });
  $('p').css('color','red');
  set_date();
  update_list();
