.row
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery single element by id
        .row
          .col-xs-12
            %p#a_text This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text.
        .row
          .col-xs-12
            =link_to 'Make Blue', '#', class: 'btn btn-default', onClick: '$("#a_text").css("background-color", "blue");'
            =link_to 'Clear', '#', class: 'btn btn-default', onClick: '$("#a_text").css("background-color","white");'
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery all html
        .row
          .col-xs-12
            %p This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text. This is text.
        .row
          .col-xs-12
            =link_to 'Fuck up everything', '#', class: 'btn btn-default', onClick: '$("*").css("background-color","green");'
.row        
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery for children
        .row
          .col-xs-12
            %ul#list
              %li Apple
              %li Banana
              %li Carrot
        .row
          .col-xs-12
            =link_to 'Highlight', '#', class: 'btn btn-default', onClick: '$("#list").css("background-color","yellow");'
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery for tag
        .row
          .col-xs-12
            =image_tag 'jim.jpg'
            =image_tag 'jim.jpg'
        .row
          .col-xs-12
            =link_to 'Trans', '#', class: 'btn btn-default', onClick: '$("img").css("opacity","0.5");'
            =link_to 'Reset', '#', class: 'btn btn-default', onClick: '$("img").css("opacity","1.0");'
.row        
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery focus and blur
        .row
          .col-xs-12
            %form.form
              .form-group
                %label{for: 'nameField'} Name
                %input.form-control{type: 'text', id: 'nameField', placeholder: 'Your Name'}
              .form-group
                %label{for: 'foobar0000'} Job
                %input.form-control{type: 'text', id: 'foobar0000', placeholder: 'Engineer'}
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery select by classname
          .col-xs-12
            %ul.list-group
              %li.list-group-item.alpha
                Name: Joe
              %li.list-group-item.beta
                Job: Garbageman
              %li.list-group-item.alpha
                Height: 180 cm
              %li.list-group-item.beta
                Weight: 160 lbs
            .col-xs-12
              %button.btn.btn-default#foobar0001 Stuff
.row
  .col-xs-6
    .panel.panel-default#panel0000
      .panel-body
        .row
          .col-xs-12
            %h3.multi1 jQuery Multi Selector
          .col-xs-12
            %p.multi2 foobar
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery by attribute prefix
        .row
          .col-xs-12
            %p#pan-0000 Text
            %p#pan-0001 Text
            %p#dan-0000 Text
.row
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery by word
        .row
          .col-xs-12
            %p{id: 'first thing'} Text
            %p{id: 'second thing'} Text
            %p{id: 'first bling'} Text
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery by attribute
        .row
          .col-xs-12
            %p{foo: 30} Text
            %p{foo: 25} Text
            %p Text
.row
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery nth item
        .row
          .col-xs-12
            %p.kazoo Text
            %p.kazoo Text
            %p.kazoo Text
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery even and odd
        .row
          .col-xs-12
            %ul.list-group
              %li.list-group-item.kazoo1 Knicks
              %li.list-group-item.kazoo1 Nets
              %li.list-group-item.kazoo1 76ers
              %li.list-group-item.kazoo1 Celtics
.row
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery upto N
          .col-xs-12
            %ul.list-group
              %li.list-group-item.kazoo2 AAAAA
              %li.list-group-item.kazoo2 BBBBB
              %li.list-group-item.kazoo2 CCCCC
              %li.list-group-item.kazoo2 DDDDD
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery headers
          .col-xs-12
            %h4 One
            %h4 Two
          .col-xs-12
            %button.btn.btn-default#kazoo3 Click
.row
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery first and last
          .col-xs-12
            %ul.list-group
              %li.list-group-item.kazoo4 Ketchup
              %li.list-group-item.kazoo4 Mayo
              %li.list-group-item.kazoo4 Mustard
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery not selector
          .col-xs-12
            %h4{bar: 10} Text
            %p{bar: 30} Text
            %p{bar: 20} Text
.row
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery Children
          .col-xs-12
            %ul.list-group
              %li.list-group-item.kazoo5 1000
              %li.list-group-item.kazoo5 2000
              %li.list-group-item.kazoo5 3000
              %li.list-group-item.kazoo5 4000
            %ul.list-group
              %li.list-group-item.kazoo5 5000
              %li.list-group-item.kazoo5 6000
              %li.list-group-item.kazoo5 7000
              %li.list-group-item.kazoo5 8000
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery Text
          .col-xs-12
            %p This is a sentence.
            %p This is a sentence with jaguar in it.
.row
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery no Children
          .col-xs-12
            %ul.list-group
  .col-xs-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 jQuery Children
          .col-xs-12
            %ul.list-group#kazoo6
              %li.list-group-item Shit
:javascript
  $(document).ready( function () {
    $('input').focus( function () {
      $(this).css('background-color', 'yellow');
    });
    $('input').blur( function () {
      $(this).css('background-color', 'white');
    });
    $('#foobar0001').click( function () {
      $('.alpha').css('background-color','#DDFFDD');
      $('.beta').css('background-color','#DDDDFF');
    });
    $('.multi1, .multi2').css('background-color','#aaccff');
    $('[id |= "pan"]').css('background-color','#FFFF98');
    $('[id ~= "thing"]').css('background-color','#76FF58');
    $('[foo]').css('background-color','#8787FF');
    $('.kazoo').eq(1).css('background-color','#FF7834');
    $('.kazoo1:even').css('background-color','#3782FF');
    $('.kazoo1:odd').css('background-color','#76FF05');
    $('.kazoo2:lt(2)').css('background-color','#F48728');
    $('#kazoo3').click( function () {
      $(':header').css('background-color','#587F2F');
    });
    $('.kazoo4').first().css('background-color','#87FF87');
    $('.kazoo4').last().css('background-color','#89e67F');
    $('[bar]:not(h4)').css('background-color','#FFD291');
    $('.kazoo5:nth-child(2)').css('background-color','#3838FF');
    $('p:contains("jaguar")').css('background-color','#287FFF');
    var some_html = $('<li class="list-group-item">James Carson</li>');
    $('ul:empty').append(some_html);
    $('#kazoo6:has(li:contains("Shit"))').html($('<li class="list-group-item">Poop</li>'));
  });
