.row
  .col-xs-12
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12
            %h3 4-1
          .col-xs-12
            .foobar00
              %div 2000
            %ul.list-group
              %li.list-group-item.foobar00
                %div 1000
              %li.list-group-item.foobar00
                %div 2000
              %li.list-group-item.foobar00
                %div 3000
.row
  .col-xs-12
    .panel.panel-default
      .panel-body
:javascript
  $(document).ready( function () {
    //4-1
    $('.foobar00').filter('li:contains("2000")').css('background-color','#3903FF');
  });
