.navbar-header
  %button.navbar-toggle{type: "button", "data-toggle" => "collapse",  "data-target" => "#mynavbar-content"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to "burnt43", {controller: :home, action: :index}, class: "navbar-brand"
